<!doctype html>
<html lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# make sure we always display a proper title: The record's title if there is one, appended with the
       sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
    <title>
        {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
        {{ config.get('general/sitename') -}}
        {% if record.title is not defined and config.get('general/payoff') %} | {{ config.get('general/payoff') }}{% endif -%}
    </title>
    {% block stylesheet %}
      <link rel="stylesheet" href="{{ asset('fonts/Oswald/Oswald-Regular.ttf', 'theme') }}">
      <link rel="stylesheet" href="{{ asset('fonts/Roboto_Condensed\RobotoCondensed-Regular.ttf', 'theme') }}">
      <link rel="stylesheet" href="{{ asset('css/bootstrap.css', 'theme') }}">
      <link rel="stylesheet" href="{{ asset('css/style.css', 'theme') }}">
    {% endblock %}
</head>
<body{% if app.request.get('_route') == "homepage" %} class="front"{% endif %}>

{% block body %}

    <header role="banner">
        {{ include('partials/header/_navbar.twig') }}
        {% block header %}
          {{ include('partials/header/_header.twig') }}
        {% endblock %}
    </header>
    <main>
      {% block main %}
      {% endblock main %}
    </main>
{% endblock body %}

<footer>
  <div class="container">
    <div class="row content">
      <div class="col-12 col-md-3 agence">
        {{ include('partials/footer/_navbar_footer_partenaires.twig') }}
      </div>
      <div class="col-12 col-md-6 menu">
        {{ include('partials/footer/_navbar_footer.twig') }}
      </div>
      <div class="col-12 col-md-3 tuto">
        <ul>
          <li><a href='#'>Wordpress</a></li>
          <li><a href='#'>Thelia</a></li>
          <li><a href='#'>Prestashop</a></li>
        </ul>
      </div>
    </div>
  </div>
    {% block javascript %}
        <script src="{{ asset('js/jquery-3.3.1.min.js', 'theme') }}"></script>
        <script src="{{ asset('js/bootstrap.js', 'theme') }}"></script>
    {% endblock %}
</footer>

</body>
</html>
