{% extends 'layout.twig' %}


{% block headerTitle %}
  {{ slug }}
{% endblock %}

{% block banniere %}
  {{ asset('img/banniere-article-' ~ slug ~ '.png', 'theme') }}
{% endblock %}

{% block article %}
<section class="section section-listing">
    <div class="container">
    {% for record in records %}
      <div class="row">
        <article role="article" class="col-12">
          <div class="row content">
            <div class="col-12 col-md-6">
              {% if loop.index is divisibleby(2) %}
                <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>
                <div class="about">
                {% if record.teaser %}
                    {{ record.teaser }}
                {% else %}
                    <p>{{ record.excerpt(300, false, search|default('')) }}</p>
                    {% endif %}
                  </div>
                {% else %}
                  <div class="content">
                    {% if record.image is not empty %}
                    <div class="">
                      <figure class="image">
                        {{ popup(record.values.thumbnail, 480, 320) }}
                      </figure>
                    </div>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
              <div class="col-12 col-md-6">
                {% if loop.index is not divisibleby(2) %}
                  <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>
                  <div class="about">
                  {% if record.teaser %}
                      {{ record.teaser }}
                  {% else %}
                      <p>{{ record.excerpt(300, false, search|default('')) }}</p>
                      {% endif %}
                    </div>
                  {% else %}
                    <div class="content">
                      {% if record.image is not empty %}
                      <div class="">
                        <figure class="image">
                          {{ popup(record.values.thumbnail, 480, 320) }}
                        </figure>
                      </div>
                      {% endif %}
                    </div>
                  {% endif %}
              </div>
            </div>
          </article>
      </div>
    {% else %}
        <article role="article">
            <div class="content">
                <h2 class="title">{{ __('general.phrase.no-content-found') }}</h2>
                <p>
                    {{ __("Unfortunately, no content could be found. Try another page, or go to the <a href=\"%paths_root%\">homepage</a>.", {'%paths_root%': path('homepage')} ) }}
                </p>
            </div>
        </article>
    {% endfor %}

    {# If there are more records than will fit on one page, the pager is shown. #}
    {{ pager(template = 'partials/_sub_pager.twig') }}
    </div>
</section>
{% endblock article %}


{% block aside %}
  <div class="">
    <img src="{{ asset('img/Logo-Definima.jpg', 'theme') }}" alt="">
  </div>
  <div class="">
  <p>
    Bienvenue sur le bolt demo de Definima
  </p>
  </div>
  <div class="">
    <ul>
      <li><a href='#'>Wordpress</a></li>
      <li><a href='#'>Thelia</a></li>
      <li><a href='#'>Prestashop</a></li>
    </ul>
  </div>
{% endblock %}
