{% extends 'layout.twig' %}

{% block headerTitle %}
  {{ record.title }}
{% endblock %}

{% block banniere %}
  {{ asset('img/banniere-article-' ~ record.taxonomy.categoriesarticles|first ~ '.png', 'theme') }}
{% endblock %}

{% block article %}
  <article role="article" class="content">
    {% include 'partials/_record_meta.twig' with {'extended': true} %}
    <h2>{{ record.introduction }}</h2>
    <div class="the-content">
      {{ record.contenu }}
    </div>
  </article>
{% endblock article %}


{% block aside %}
  <div class="">
    <img src="{{ asset('img/Logo-Definima.jpg', 'theme') }}" alt="">
  </div>
  <div class="">
  <p>
    Bienvenue sur le bolt demo de Definima
  </p>
  </div>
  <div class="">
    <ul>
      <li><a href='#'>Wordpress</a></li>
      <li><a href='#'>Thelia</a></li>
      <li><a href='#'>Prestashop</a></li>
    </ul>
  </div>
{% endblock %}
